/lrpe-server/.gradle
/lrpe-server/build
/lrpe-server/.idea
/lrpe-server/config/application.yml
/lrpe-client/.gradle
/lrpe-client/.idea
/lrpe-shared/.gradle
/lrpe-client/build
/lrpe-shared/build
/lrpe-client/lrpe-config.json
